# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environments
.venv/
env/
venv/
.idea/
.vscode/
.env

# Logs and outputs
*.log
*.out
*.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# Pytest
.pytest_cache/
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
